/* Universal defaults */
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    border: 0;
    color: white;
    background-color: #090909;
}
/*TRBL Top Right Bottom Left: Order of Measure */
/*Order of boxes is inward->outward is Content->Padding->Border->Margin */
header {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    background-color: #e400d1; 
    padding: 10px 0;
    color: white;
}
/* The Class that designs The Sanctuary title on the upper left */
.maintitle {
    /* The main title: The Sanctuary */
    overflow: hidden;
    font-family: 'Megrim';
    text-align: center;
    font-size: min(max(3vw,20px), 40px);
    font-weight: bold;
    color: white;
    margin-right: auto;
    width: auto;
    height: auto;
    padding: 0 20px 0 20px;
    background-color: #00000000;
}
.notice {
    font-size: max(2vw, 30px);
    width: min(60%, 500px);
    padding: 10px auto;
    margin: 10px auto;
    background-color: rgb(0, 177, 177);
}
/* Nav Bar */
nav {
    overflow: hidden;
    text-align: center;
    background-color: #00000000;

    width: auto;
    height: auto;
    padding: auto;;
    border: auto;
    margin: 0;
}

nav ul {
    background-color:#00000000;
    margin: 0 20px;
}
nav ul li {
    display: inline-block;
    background-color: #00000000;
}

nav ul li a {
    font-size: min(max(17px, 2vw), 25px);
    background-color: #00000000;
    padding: 0 10px;
    text-decoration: none;
}

nav ul li a:hover {
    color: #1d1d1d;
}

h3 {
    font-size: 2em;
    max-width: 700px;
    text-align: center;
    margin: auto;
}

body {
    position: relative;
    margin: auto;
    padding: auto;
    text-align: center;
}

main {
    margin: 100px auto;
    font-size: 1.3em;
    max-width: min(700px, 60%);
    padding: auto;
    text-align: left;
}
footer {
    /* position: absolute; */
    bottom: 0;
}

@media screen and (max-width: 700px) {
    nav {
        font-weight: bold;
    }
}
